body {
	background-color:#eee;
}

.container {
	display: grid;
}
.gtid-item {
	grid-row: 1/2;
}
.grid-item.kani-sasimi {
	grid-column: 1/2;
}
.grid-item.sasimi-kani {
	grid-column: 2/3;
}
.grid-item.kyuu-iroo {
	grid-column: 3/4;
}

.account::before {
	content: "🦀";
}
.account {
	margin-bottom: 3px;
}
.twitter {
	width: auto;
	margin:0 5px;
}