#err {
	color: red;
	font-size: 14px;
}
label {
	color: gray;
	font-size: 14px;
	display: block;
}
input[type="text"] {
	width: 98%;
	display: block;
}
input#roma {
	background-color: lightgray;
}
input[type="button"] {
	margin: 10px 0;
	cursor: pointer;
	width: 10%;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
}
input[type="button"]:hover {
	background-color: #ddd;
}